.tabs {
  height: 40px;
  background: #252526;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #444;
}

.tab {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.active-tab {
  background: #1e1e1e;
  border-top: 2px solid #007acc;
}